/*# sourceMappingURL=app.css.map */
/* Mobile */
@media (max-width: 600px) {
  .responsive-text {
    font-size: 12px !important;
  }
  .responsive-text-sm {
    font-size: 13px !important;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
  .responsive-text {
    font-size: 14px !important;
  }
  .responsive-text-sm {
    font-size: 15px !important;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .responsive-text {
    font-size: 16px !important;
  }
  .responsive-text-sm {
    font-size: 17px !important;
  }
}
